.title {
  text-align: center;
  margin: 4rem 0rem;
  font-size: 1.4rem;
  color: #AFACB4;
}

.forget > div.van-cell, .forget >div.codeBox {
  margin-top: 2rem;
  background-color: #291744;
}

.forget > div.codeBox {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.codeBox > div {
  width: 68%;
  background-color: #291744;
  overflow: hidden;
}

.codeBox button {
  width: 30%;
  font-size: 1.2rem;
  color: rgba(255,255,255,0.6) !important;
}
